{% extends '@!EasyAdmin/crud/new.html.twig' %}

{% block main %}


    {{ form_start(new_form) }}


    <div class="row">
        <div class="col">
            {{ form_widget(new_form.productos) }}
            <button onclick="prueba(new_form.productos)">boton</button>
        </div>





    </div>
    {{ form_end(new_form) }}






{% endblock %}

