{% extends '@!EasyAdmin/crud/new.html.twig' %}

{% block main %}


    {{ form_start(new_form) }}


    <div class="row">
        <div class="col">
            {{ form_widget(new_form.cliente) }}
        </div>
    </div>
    <div>
    <input type="text" id="fname" name="fname">
    </div>
    {{ form_end(new_form) }}
{% endblock %}

